#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_auto_install:
	mkdir -p debian/python-erppeek/usr/lib/python2.6/dist-packages/
	PYTHONPATH=debian/python-erppeek/usr/lib/python2.6/dist-packages/ python ./setup.py install --prefix=debian/python-erppeek/usr --install-layout=deb

override_dh_auto_build:

override_dh_clean:
	rm -rf *.egg *.egg-info *.pyc dist docs/_build
